* {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

ul, ol, menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

section#instructions {
  margin: 30px 0;
  padding: 0 30px;
}

section#instructions > div {
  border: 1px black solid;
  width: 400px;
  padding: 10px;
}

section#instructions > div > h2 {
  display: none;
}

section#instructions > div p {
  margin-top: 0;
}

section#game-area {
  padding: 30px;
}

table {
  background-color: burlywood;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 20px;
  box-shadow: 5px 8px 2px rgb(21, 15, 15);
}

table tr:first-child th:first-child,
  table tr:first-child td:first-child {
    border-top-left-radius: 15px;
  }

  table tr:first-child th:last-child,
  table tr:first-child td:last-child {
    border-top-right-radius: 15px;
  }

  table tr:last-child th:first-child,
  table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }

  table tr:last-child th:last-child,
  table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }

td {
  border: 1px black solid;
  width: 50px;
  height: 50px;
  padding: 5px;
}

td > div {
  background-color: rgb(56, 31, 31);
  border: 5px burlywood solid;
  height: 50px;
  width: 50px;
}

img {
  max-width: 100%;
}
